<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>MockApplication</display-name>
    <filter>
        <filter-name>MockJPGFilter</filter-name>
        <filter-class>com.bundgus.mockapplication.filter.MockFilter</filter-class>
        <init-param>
            <param-name>ResourcePath</param-name>
            <param-value>/images/mockimage1.jpg</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>MockFilter</filter-name>
        <filter-class>com.bundgus.mockapplication.filter.MockFilter</filter-class>
        <init-param>
            <param-name>ResourcePath</param-name>
            <param-value>/index.jsp</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>MockGIFFilter</filter-name>
        <filter-class>com.bundgus.mockapplication.filter.MockFilter</filter-class>
        <init-param>
            <param-name>ResourcePath</param-name>
            <param-value>/images/mockimage1.gif</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>MockPNGFilter</filter-name>
        <filter-class>com.bundgus.mockapplication.filter.MockFilter</filter-class>
        <init-param>
            <param-name>ResourcePath</param-name>
            <param-value>/images/mockimage1.png</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>MockCSSFilter</filter-name>
        <filter-class>com.bundgus.mockapplication.filter.MockFilter</filter-class>
        <init-param>
            <param-name>ResourcePath</param-name>
            <param-value>/style.css</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>MockBGPNGFilter</filter-name>
        <filter-class>com.bundgus.mockapplication.filter.MockFilter</filter-class>
        <init-param>
            <param-name>ResourcePath</param-name>
            <param-value>/images/bg.png</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>MockBG02BLUELEFTFilter</filter-name>
        <filter-class>com.bundgus.mockapplication.filter.MockFilter</filter-class>
        <init-param>
            <param-name>ResourcePath</param-name>
            <param-value>/images/bg02-blue-left.png</param-value>
        </init-param>
    </filter>  
    <filter>
        <filter-name>MockBG02BLUERIGHTFilter</filter-name>
        <filter-class>com.bundgus.mockapplication.filter.MockFilter</filter-class>
        <init-param>
            <param-name>ResourcePath</param-name>
            <param-value>/images/bg02-blue-right.png</param-value>
        </init-param>
    </filter> 
    <filter>
        <filter-name>MockBG02RIGHTFilter</filter-name>
        <filter-class>com.bundgus.mockapplication.filter.MockFilter</filter-class>
        <init-param>
            <param-name>ResourcePath</param-name>
            <param-value>/images/bg02-right.png</param-value>
        </init-param>
    </filter>   
    <filter>
        <filter-name>MockBG02LEFTFilter</filter-name>
        <filter-class>com.bundgus.mockapplication.filter.MockFilter</filter-class>
        <init-param>
            <param-name>ResourcePath</param-name>
            <param-value>/images/bg02-left.png</param-value>
        </init-param>
    </filter>  
    <filter>
        <filter-name>MockBG02WHITELEFTFilter</filter-name>
        <filter-class>com.bundgus.mockapplication.filter.MockFilter</filter-class>
        <init-param>
            <param-name>ResourcePath</param-name>
            <param-value>/images/bg02-white-left.png</param-value>
        </init-param>
    </filter>  
    <filter>
        <filter-name>MockBG02WHITERIGHTFilter</filter-name>
        <filter-class>com.bundgus.mockapplication.filter.MockFilter</filter-class>
        <init-param>
            <param-name>ResourcePath</param-name>
            <param-value>/images/bg02-white-right.png</param-value>
        </init-param>
    </filter> 
    <filter>
        <filter-name>MockMENUFilter</filter-name>
        <filter-class>com.bundgus.mockapplication.filter.MockFilter</filter-class>
        <init-param>
            <param-name>ResourcePath</param-name>
            <param-value>/images/menu.png</param-value>
        </init-param>
    </filter>
        <filter>
        <filter-name>MockMENULEFTFilter</filter-name>
        <filter-class>com.bundgus.mockapplication.filter.MockFilter</filter-class>
        <init-param>
            <param-name>ResourcePath</param-name>
            <param-value>/images/menuleft.png</param-value>
        </init-param>
    </filter> 
    <filter>
        <filter-name>MockMENURIGHTFilter</filter-name>
        <filter-class>com.bundgus.mockapplication.filter.MockFilter</filter-class>
        <init-param>
            <param-name>ResourcePath</param-name>
            <param-value>/images/menuright.png</param-value>
        </init-param>
    </filter> 
    
  
    <filter-mapping>
        <filter-name>MockBGPNGFilter</filter-name>
        <url-pattern>/images/bg.png</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MockBG02BLUELEFTFilter</filter-name>
        <url-pattern>/images/bg02-blue-left.png</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MockBG02BLUERIGHTFilter</filter-name>
        <url-pattern>/images/bg02-blue-right.png</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MockBG02LEFTFilter</filter-name>
        <url-pattern>/images/bg02-left.png</url-pattern>
    <filter-mapping>
            <filter-name>MockCSSFilter</filter-name>
            <url-pattern>*.css</url-pattern>
    </filter-mapping></filter-mapping>
    <filter-mapping>
        <filter-name>MockBG02RIGHTFilter</filter-name>
        <url-pattern>/images/bg02-right.png</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MockBG02WHITELEFTFilter</filter-name>
        <url-pattern>/images/bg02-white-left.png</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MockBG02WHITERIGHTFilter</filter-name>
        <url-pattern>/images/bg02-white-right.png</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MockMENUFilter</filter-name>
        <url-pattern>/images/menu.png</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MockMENULEFTFilter</filter-name>
        <url-pattern>/images/menuleft.png</url-pattern>
    </filter-mapping>
     <filter-mapping>
        <filter-name>MockMENURIGHTFilter</filter-name>
        <url-pattern>/images/menuright.png</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MockJPGFilter</filter-name>
        <url-pattern>*.jpg</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MockGIFFilter</filter-name>
        <url-pattern>*.gif</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MockPNGFilter</filter-name>
        <url-pattern>*.png</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MockCSSFilter</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MockFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    </web-app>
